$fg_color: #e6e6e6;
$text_color: #e6e6e6;
$bg_color: #333333;
$base_color: #3c3c3c;
$selected_bg_color: #69acc5;
$selected_fg_color: #ffffff;
$borders_color: #69acc5;
$warning_color: #b96408;
$error_color: #f47f00;
$success_color: #9ee500;

$button_hover_background: #095674;
$button_active_background: #057099;
$button_empty_stack_background: #21404c;
$button_non_empty_stack_background: #095674;
$button_non_empty_stack_hover_background: #057099;

$borders_edge: transparentize($borders_color, 0.80);

$text_field_text: #C00075;
$text_field_background: #E6E6E6;

$tab_inactive_background: $base_color;
$tab_inactive_border: $bg_color;
$tab_inactive_separator: #555555;
$tab_hover_border: #095674;

$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($base_color, 1%);
// $backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: lighten($backdrop_bg_color, 15%);
// $backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
// $backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
// $backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

// $backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
// $backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);

// $backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
