$fg_color: #aaaaaa;
$text_color: #e6e6e6;
$text_disabled_color: #b6b6b6;
$bg_color: #333333;
$base_color: #3c3c3c;
$selected_bg_color: #69acc5;
$selected_fg_color: #ffffff;
$borders_color: #69acc5;
$warning_color: #b96408;
$error_color: #f47f00;
$success_color: #9ee500;
$hover_color: #095674;

$button_text_color: #69acc5;
$button_background: #444444;
$button_hover_background: $hover_color;
$button_active_background: #057099;
$button_empty_stack_background: #21404c;
$button_non_empty_stack_background: #095674;
$button_non_empty_stack_hover_background: #057099;
$button_disabled_border: #057099;
$button_disabled_text: #057099;

$checkbox_check_color: $button_text_color;
$checkbox_border: #057099;
$checkbox_hover: #095674;
$checkbox_disabled: #095674;
$checkbox_disabled_text: #057099;

$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);

$menu_background: $bg_color;
$menu_disabled_background: $base_color;

$tab_inactive_background: $base_color;
$tab_inactive_border: $bg_color;
$tab_inactive_separator: #555555;
$tab_hover_border: $hover_color;

$text_field_text: #c00075;
$text_field_background: #aaaaaa;
$text_field_disabled_text: #791953;
$text_field_disabled_border: $button_disabled_border;

$treeview_item_selected: #057099;
$treeview_item_selected_background: #095674;

$progress_bar_border: #69acc5;
$progress_bar_color: #69acc5;
$progress_bar_no_progress_color: #057099;
$progress_bar_text: #e6e6e6;

$scale_background: #555555;
$scale_border: $borders_color;
$scale_focus_border: #057099;
$scale_disabled_border: $button_disabled_border;
$scale_highlight_background: $progress_bar_no_progress_color;
$scale_highlight_hover_background: $button_hover_background;
$scale_highlight_active_background: $bg_color;
$scale_disabled_highlight_background: #095674;
$scale_handle: #21404c;

$scrollbar_background: rgba(85, 85, 85, 0.15);
$scrollbar_border: #21404c;
$scrollbar_slider_border: #095674;;
$scrollbar_slider_background: #095674;
$scrollbar_slider_hover_background: #057099;
$scrollbar_slider_active_background: #69acc5;

$borders_edge: transparentize($borders_color, 0.8);

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: lighten($base_color, 1%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_insensitive_color: lighten($backdrop_bg_color, 15%);
$backdrop_borders_color: mix($borders_color, $bg_color, 80%);
// $backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
// $backdrop_selected_fg_color: if($variant == 'light', $backdrop_base_color, $backdrop_text_color);
// $backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
// $backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);
// $backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
// $backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);
// $backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, 20%));
