.background {
  color: $fg_color;
  background-color: $bg_color;
}

.view,
%view {
  color: $text_color;
  background-color: $base_color;
}

menubar,
.menubar {
  background-color: $bg_color;

  > menuitem {
    padding: 5px 8px;
  }
}

%toolbar {
  -gtkwidget-window-dragging: true;
  padding: 4px;
  background-color: $bg_color;
}

toolbar {
  @extend %toolbar;

  entry {
    padding: 5px 10px;
  }

  toolbutton#Prev,
  toolbutton#Next {
    > button {
      background-color: $button_non_empty_stack_background;

      &:disabled {
        background-color: $button_empty_stack_background;
      }

      &:hover,
      &:focus {
        background-color: $button_non_empty_stack_hover_background;
      }
    }
  }

  button {
    background-color: $bg_color;
    padding: 5px;
    margin: 8px 0px;
    border: 1px $bg_color solid;
    border-radius: 5px;

    &:hover,
    &:focus {
      background-color: $button_hover_background;
      border-color: $button_hover_background;
    }

    &:active,
    &:checked {
      background-color: $button_active_background;
    }
  }
}

tabs {
  padding: 0px 10px;
  border-bottom: 1px $borders_color solid;

  arrow {
    background-color: $bg_color;
    border: 1px $bg_color solid;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0px 3px;

    &:first-child {
      margin-right: 5px;
      margin-left: -5px;
    }

    &:last-child {
      margin-right: -5px;
      margin-left: 5px;
    }

    &:hover,
    &:focus {
      background-color: $button_hover_background;
      border-color: $button_hover_background;
    }

    &:active,
    &:checked {
      background-color: $button_active_background;
    }
  }

  tab {
    padding: 5px;
    margin: 0px 1px;
    background-color: $tab_inactive_background;
    border-top: 3px $tab_inactive_background solid;
    border-left: 1px $tab_inactive_separator solid;
    border-right: 1px $tab_inactive_separator solid;

    &:active,
    &:checked,
    &:active:hover,
    &:checked:hover,
    &:active:focus,
    &:checked:focus {
      background-color: $bg_color;
      border-top: 3px $borders_color solid;
      border-left: 1px $borders_color solid;
      border-right: 1px $borders_color solid;
      box-shadow: 0px 1px $bg_color;
    }

    &:hover,
    &:focus {
      border-top: 3px $tab_hover_border solid;
      border-left: 1px $tab_hover_border solid;
      border-right: 1px $tab_hover_border solid;
    }

    button {
      padding: 0px;
      margin: 0px;
      background-color: $tab_inactive_background;
      border: none;
    }
  }
}

// The entry field in a spinbutton takes it's text color
// from the parent rather than the entry selector.
spinbutton {
  color: $text_field_text;

  * {
    color: $text_color;
  }
}

entry {
  color: $text_field_text;
  background-color: $text_field_background;
  margin: 8px;
  padding: 0px 10px;
  border: 1px $borders_color solid;
  border-radius: 5px;
  selection {
    color: $text_field_background;
    background-color: $text_field_text;
  }

  & {
    color: $text_field_text;
  }
}
